In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers import StringLookup
import tensorflow_addons as tfa
import matplotlib.pyplot as plt
import math
import numpy as np
import pandas as pd
import pickle
from scipy import spatial
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from numpy import random

# Data Preperation

In [2]:
data = pd.read_csv("./bank_data/bank-full.csv", sep = ";")
data["weight"] = 1
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,weight
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,1
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,1
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no,1
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no,1

In [3]:
train_data, test_data = train_test_split(data, stratify = data["y"], 
                                         train_size=0.01)
train_data = train_data.reset_index(drop=True).copy()
test_data = test_data.reset_index(drop=True).copy()
train_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,weight
0,54,management,married,tertiary,no,2960,yes,no,cellular,13,feb,94,9,85,1,failure,no,1
1,55,blue-collar,married,secondary,no,52,yes,no,unknown,6,may,182,1,-1,0,unknown,no,1
2,45,blue-collar,married,secondary,no,4022,yes,no,cellular,29,jan,244,3,-1,0,unknown,no,1
3,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no,1
4,29,blue-collar,married,secondary,no,104,yes,no,cellular,18,may,903,4,-1,0,unknown,yes,1

In [4]:
# A list of the numerical feature names.
NUMERIC_FEATURE_NAMES = [
    "age",
    "balance",
    "duration",
    "campaign",
    "previous",
    "pdays",
]

# A list of the categorical feature names.
CATEGORICAL_FEATURE_NAMES = [
    "job",
    "marital",
    "education",
    "default",
    "housing",
    "loan",
    "contact",
    "day",
    "month",
    "poutcome"
]

WEIGHT_COLUMN_NAME = "weight"

# The name of the target feature.
TARGET_FEATURE_NAME = "y"
# A list of the labels of the target features.
TARGET_LABELS = ["no", "yes"]

# Save and Load Embedding

In [5]:
def save_embeddings(model, filename):
    embeddings = {}

    for layer in model.layers: 
        if "_embedding" in  layer.get_config()["name"]:
            col_name = layer.get_config()["name"].split("_embedding")[0]
            if col_name not in CATEGORICAL_FEATURES_WITH_VOCABULARY:
                continue
            embeddings[col_name] = {}
            for idx, cat in enumerate(CATEGORICAL_FEATURES_WITH_VOCABULARY[col_name]):
                if "mask" in cat:
                    continue
                embeddings[col_name][cat] = layer.get_weights()[0][idx]
            
    with open(filename, 'wb') as config_dictionary_file:
        pickle.dump(embeddings, config_dictionary_file)

In [6]:
def load_embeddings(model, filename):
    with open(filename, 'rb') as config_dictionary_file:
        embeddings = pickle.load(config_dictionary_file)
    
    for layer in model.layers: 
        if "_embedding" in  layer.get_config()["name"]:
            col_name = layer.get_config()["name"].split("_embedding")[0]
            if col_name not in CATEGORICAL_FEATURES_WITH_VOCABULARY:
                continue
                
            layer.set_weights([np.array(list(
                        [
                            embeddings[col_name][c] \
                                             for c in CATEGORICAL_FEATURES_WITH_VOCABULARY[col_name]
                        ]
            ))])
    return model

# Unsupervised Learning - Masking Categorical data and predicting masked data using other features ("Learning Language of numerical data")

### Configure the hyperparameters

In [7]:
LEARNING_RATE = 0.001
WEIGHT_DECAY = 0.0001
DROPOUT_RATE = 0.2
BATCH_SIZE = 128
NUM_EPOCHS = 10

NUM_TRANSFORMER_BLOCKS = 3  # Number of transformer blocks.
NUM_HEADS = 4  # Number of attention heads.
EMBEDDING_DIMS = 8  # Embedding dimensions of the categorical features.
MLP_HIDDEN_UNITS_FACTORS = [
    2,
    1,
]  # MLP hidden layer units, as factors of the number of inputs.
NUM_MLP_BLOCKS = 2  # Number of MLP blocks in the baseline model.

### Implement data reading pipeline

In [8]:
"""
## Implement data reading pipeline
We define an input function that reads and parses the file, then converts features
and labels into a[`tf.data.Dataset`](https://www.tensorflow.org/guide/datasets)
for training or evaluation.
"""
def prepare_example(features, target):
    # target_index = target_label_lookup(target)
    target = int(target)
    weights = features.pop(WEIGHT_COLUMN_NAME)
    return features, target, weights


def get_dataset_from_csv(csv_file_path, batch_size=128, shuffle=False):
    dataset = tf.data.experimental.make_csv_dataset(
        csv_file_path,
        batch_size=batch_size,
        #column_names=CSV_HEADER,
        column_defaults=COLUMN_DEFAULTS,
        label_name=TARGET_FEATURE_NAME,
        num_epochs=1,
        header=True,
        na_value="?",
        shuffle=shuffle,
    ).map(prepare_example, num_parallel_calls=tf.data.AUTOTUNE, deterministic=False)
    return dataset.cache()

### encoding data inputs

In [9]:
"""
## Create model inputs
Now, define the inputs for the models as a dictionary, where the key is the feature name,
and the value is a `keras.layers.Input` tensor with the corresponding feature shape
and data type.
"""


def create_model_inputs():
    inputs = {}
    for feature_name in FEATURE_NAMES:
        if feature_name in NUMERIC_FEATURE_NAMES:
            inputs[feature_name] = layers.Input(
                name=feature_name, shape=(), dtype=tf.float32
            )
        else:
            inputs[feature_name] = layers.Input(
                name=feature_name, shape=(), dtype=tf.string
            )
    return inputs


"""
## Encode features
The `encode_inputs` method returns `encoded_categorical_feature_list` and `numerical_feature_list`.
We encode the categorical features as embeddings, using a fixed `embedding_dims` for all the features,
regardless their vocabulary sizes. This is required for the Transformer model.
"""


def encode_inputs(inputs, embedding_dims):

    encoded_categorical_feature_list = []
    numerical_feature_list = []

    for feature_name in inputs:
        if feature_name in CATEGORICAL_FEATURE_NAMES:

            # Get the vocabulary of the categorical feature.
            vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY[feature_name]

            # Create a lookup to convert string values to an integer indices.
            # Since we are not using a mask token nor expecting any out of vocabulary
            # (oov) token, we set mask_token to None and  num_oov_indices to 0.
            lookup = layers.StringLookup(
                vocabulary=vocabulary,
                mask_token=None,
                num_oov_indices=1,
                output_mode="int",
                name = feature_name+"_string_lookup"
            )

            # Convert the string input values into integer indices.
            encoded_feature = lookup(inputs[feature_name])-1

            # Create an embedding layer with the specified dimensions.
            embedding = layers.Embedding(
                input_dim=len(vocabulary), output_dim=embedding_dims,
                name=feature_name+"_embedding"
            )

            # Convert the index values to embedding representations.
            encoded_categorical_feature = embedding(encoded_feature)
            encoded_categorical_feature_list.append(encoded_categorical_feature)

        else:

            # Use the numerical features as-is.
            numerical_feature = tf.expand_dims(inputs[feature_name], -1)
            numerical_feature_list.append(numerical_feature)

    return encoded_categorical_feature_list, numerical_feature_list


"""
## Implement an MLP block
"""


def create_mlp(hidden_units, dropout_rate, activation, normalization_layer, name=None):

    mlp_layers = []
    for units in hidden_units:
        mlp_layers.append(normalization_layer),
        mlp_layers.append(layers.Dense(units, activation=activation))
        mlp_layers.append(layers.Dropout(dropout_rate))

    return keras.Sequential(mlp_layers, name=name)

### Run Experiment

In [10]:
"""
## Implement a training and evaluation procedure
"""


def run_experiment(
    model,
    train_data_file,
    num_epochs,
    learning_rate,
    weight_decay,
    batch_size,
):

    optimizer = tfa.optimizers.AdamW(
        learning_rate=learning_rate, weight_decay=weight_decay
    )

    model.compile(
        optimizer=optimizer,
        loss=keras.losses.SparseCategoricalCrossentropy(),
        metrics=[keras.metrics.SparseCategoricalAccuracy(name="accuracy")],
    )

    train_dataset = get_dataset_from_csv(train_data_file, batch_size, shuffle=True)

    print("Start training the model...")
    history = model.fit(
        train_dataset, epochs=num_epochs, verbose=1
    )
    print("Model training finished")

    return history, model

## Data prep for masking - Tokenization

In [11]:
masked_data = data.copy()
masked_data.drop(columns = NUMERIC_FEATURE_NAMES, inplace=True)
masked_data.drop(columns = TARGET_FEATURE_NAME, inplace=True)
masked_data.drop(columns = WEIGHT_COLUMN_NAME, inplace=True)

le=LabelEncoder()
all_data = []
for f in CATEGORICAL_FEATURE_NAMES:
    all_data = all_data + masked_data[f].apply(lambda x: f+str(x)).values.tolist()
    
n = len(masked_data)
cat_data = le.fit_transform(all_data).reshape(len(CATEGORICAL_FEATURE_NAMES),n).T
cat_count = len(np.unique(cat_data))
print("Total token count", cat_count)
cat_data[:5,]

Total token count 75

array([[46, 57, 38, 34, 41, 54,  2, 29, 67, 74],
       [51, 58, 37, 34, 41, 54,  2, 29, 67, 74],
       [44, 57, 37, 34, 41, 55,  2, 29, 67, 74],
       [43, 57, 39, 34, 41, 54,  2, 29, 67, 74],
       [53, 58, 39, 34, 40, 54,  2, 29, 67, 74]], dtype=int64)

## Data prep for masking - Masking

In [12]:
masks_pos = random.randint(len(CATEGORICAL_FEATURE_NAMES), size=(n))
mask_label = []
for i in range(n):
    mask_label = mask_label + [cat_data[i, masks_pos[i]]]
    masked_data.iloc[i, masks_pos[i]] = "mask"+str(masks_pos[i])

le2=LabelEncoder()
mask_label = le2.fit_transform(mask_label)    
masked_data[WEIGHT_COLUMN_NAME]=data[WEIGHT_COLUMN_NAME]
masked_data=pd.concat([masked_data,data[NUMERIC_FEATURE_NAMES]], axis=1).copy()
masked_data["label"] = mask_label
CSV_HEADER_UN = masked_data.columns
masked_data.head(10)

,job,marital,education,default,housing,loan,contact,day,month,poutcome,weight,age,balance,duration,campaign,previous,pdays,label
0,management,married,mask2,no,yes,no,unknown,5,may,unknown,1,58,2143,261,1,0,-1,38
1,technician,single,secondary,no,yes,no,unknown,5,may,mask9,1,44,29,151,1,0,-1,74
2,mask0,married,secondary,no,yes,yes,unknown,5,may,unknown,1,33,2,76,1,0,-1,44
3,blue-collar,mask1,unknown,no,yes,no,unknown,5,may,unknown,1,47,1506,92,1,0,-1,57
4,unknown,single,unknown,no,no,mask5,unknown,5,may,unknown,1,33,1,198,1,0,-1,54
5,management,mask1,tertiary,no,yes,no,unknown,5,may,unknown,1,35,231,139,1,0,-1,57
6,management,single,tertiary,no,yes,mask5,unknown,5,may,unknown,1,28,447,217,1,0,-1,55
7,entrepreneur,divorced,tertiary,mask3,yes,no,unknown,5,may,unknown,1,42,2,380,1,0,-1,35
8,retired,married,mask2,no,yes,no,unknown,5,may,unknown,1,58,121,50,1,0,-1,36
9,technician,single,secondary,no,yes,no,unknown,mask7,may,unknown,1,43,593,55,1,0,-1,29

In [13]:
# A dictionary of the categorical features and their vocabulary.
CATEGORICAL_FEATURES_WITH_VOCABULARY = {}


for f in CATEGORICAL_FEATURE_NAMES:
    masked_data[f] = masked_data[f].astype("str")
    CATEGORICAL_FEATURES_WITH_VOCABULARY[f] =\
        sorted(list(masked_data[f].unique()))
CATEGORICAL_FEATURE_NAMES = list(CATEGORICAL_FEATURES_WITH_VOCABULARY.keys())

In [14]:
train_data_file = "train_data.csv"
masked_data.to_csv(train_data_file, index=False, header=True)

In [15]:
# A list of all the input features.
FEATURE_NAMES = CATEGORICAL_FEATURE_NAMES+NUMERIC_FEATURE_NAMES

# The name of the target feature.
TARGET_FEATURE_NAME = "label"
# A list of the labels of the target features.
TARGET_LABELS = masked_data["label"].unique()

# A list of column default values for each feature.
COLUMN_DEFAULTS = [
    [0.0] if feature_name in NUMERIC_FEATURE_NAMES+[WEIGHT_COLUMN_NAME] else ["NA"]
    for feature_name in CSV_HEADER_UN
]

In [16]:
CSV_HEADER_UN

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'day', 'month', 'poutcome', 'weight', 'age', 'balance', 'duration',
       'campaign', 'previous', 'pdays', 'label'],
      dtype='object')

# TabTransformer - Architecture creation

In [17]:
def create_tabtransformer_classifier(
    num_transformer_blocks,
    num_heads,
    embedding_dims,
    mlp_hidden_units_factors,
    dropout_rate,
    use_column_embedding=False,
):

    # Create model inputs.
    inputs = create_model_inputs()
    # encode features.
    encoded_categorical_feature_list, numerical_feature_list = encode_inputs(
        inputs, embedding_dims
    )
    # Stack categorical feature embeddings for the Tansformer.
    encoded_categorical_features = tf.stack(encoded_categorical_feature_list, axis=1)
    # Concatenate numerical features.
    numerical_features = layers.concatenate(numerical_feature_list)

    # Add column embedding to categorical feature embeddings.
    if use_column_embedding:
        num_columns = encoded_categorical_features.shape[1]
        column_embedding = layers.Embedding(
            input_dim=num_columns, output_dim=embedding_dims
        )
        column_indices = tf.range(start=0, limit=num_columns, delta=1)
        encoded_categorical_features = encoded_categorical_features + column_embedding(
            column_indices
        )

    # Create multiple layers of the Transformer block.
    for block_idx in range(num_transformer_blocks):
        # Create a multi-head attention layer.
        attention_output = layers.MultiHeadAttention(
            num_heads=num_heads,
            key_dim=embedding_dims,
            dropout=dropout_rate,
            name=f"multihead_attention_{block_idx}",
        )(encoded_categorical_features, encoded_categorical_features)
        # Skip connection 1.
        x = layers.Add(name=f"skip_connection1_{block_idx}")(
            [attention_output, encoded_categorical_features]
        )
        # Layer normalization 1.
        x = layers.LayerNormalization(name=f"layer_norm1_{block_idx}", epsilon=1e-6)(x)
        # Feedforward.
        feedforward_output = create_mlp(
            hidden_units=[embedding_dims],
            dropout_rate=dropout_rate,
            activation=keras.activations.gelu,
            normalization_layer=layers.LayerNormalization(epsilon=1e-6),
            name=f"feedforward_{block_idx}",
        )(x)
        # Skip connection 2.
        x = layers.Add(name=f"skip_connection2_{block_idx}")([feedforward_output, x])
        # Layer normalization 2.
        encoded_categorical_features = layers.LayerNormalization(
            name=f"layer_norm2_{block_idx}", epsilon=1e-6
        )(x)

    # Flatten the "contextualized" embeddings of the categorical features.
    categorical_features = layers.Flatten(name="dyanmic_embedding")(encoded_categorical_features)
    # Apply layer normalization to the numerical features.
    numerical_features = layers.LayerNormalization(epsilon=1e-6)(numerical_features)
    # Prepare the input for the final MLP block.
    features = layers.concatenate([categorical_features, numerical_features])

    # Compute MLP hidden_units.
    mlp_hidden_units = [
        factor * features.shape[-1] for factor in mlp_hidden_units_factors
    ]
    # Create final MLP.
    features = create_mlp(
        hidden_units=mlp_hidden_units,
        dropout_rate=dropout_rate,
        activation=keras.activations.selu,
        normalization_layer=layers.BatchNormalization(),
        name="MLP",
    )(features)

    # output layer for masked learning
    masked_output = layers.Dense(units=len(TARGET_LABELS), 
                           activation="softmax", name="softmax")(features)
    
    # Classifier prediction; actual target
    output = layers.Dense(units=1, 
                           activation="sigmoid", name="sigmoid")(features)
    
    pretraining_model = keras.Model(inputs=inputs, outputs=masked_output)
    classifier_model = keras.Model(inputs=inputs, outputs=output)
    return (pretraining_model, classifier_model)

# Create Pretrained model

In [18]:
# model intialization
# pre_training_model and tabtransfomer_model share all the layers except the output layer
# so any trainining done on pretraining model will upadte weights of tabtransfomer model as well
pre_training_model, tabtransformer_model = create_tabtransformer_classifier(
    num_transformer_blocks=NUM_TRANSFORMER_BLOCKS,
    num_heads=NUM_HEADS,
    embedding_dims=EMBEDDING_DIMS,
    mlp_hidden_units_factors=MLP_HIDDEN_UNITS_FACTORS,
    dropout_rate=DROPOUT_RATE,
)

save_embeddings(pre_training_model, 'untrained_embeddings_bank.dictionary')

print("Total model weights:", pre_training_model.count_params())
keras.utils.plot_model(pre_training_model, show_shapes=True, rankdir="LR")

# model training
history, pre_training_model = run_experiment(
    model=pre_training_model,
    train_data_file=train_data_file,
    num_epochs=NUM_EPOCHS,
    learning_rate=LEARNING_RATE,
    weight_decay=WEIGHT_DECAY,
    batch_size=BATCH_SIZE,
)

Total model weights: 41147
You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.
Start training the model...
Epoch 1/10
354/354 [==============================] - 10s 15ms/step - loss: 1.3643 - accuracy: 0.5959
Epoch 2/10
354/354 [==============================] - 5s 14ms/step - loss: 1.0561 - accuracy: 0.6517
Epoch 3/10
354/354 [==============================] - 5s 14ms/step - loss: 0.9922 - accuracy: 0.6640
Epoch 4/10
354/354 [==============================] - 5s 14ms/step - loss: 0.9651 - accuracy: 0.6707
Epoch 5/10
354/354 [==============================] - 5s 14ms/step - loss: 0.9515 - accuracy: 0.6728
Epoch 6/10
354/354 [==============================] - 5s 14ms/step - loss: 0.9411 - accuracy: 0.6769
Epoch 7/10
354/354 [==============================] - 5s 14ms/step - loss: 0.9326 - accuracy: 0.6775
Epoch 8/10
354/354 [==============================] - 5s 14ms/step - loss: 0.9262 - accuracy: 0.6788
Epoch 9/10
354/354 [==============================] - 6s 18ms/step - loss: 0.9230 - accuracy: 0.6801
Epoch 10/10
354/354 [==============================] - 6s 16ms/step - loss: 0.9170 - accuracy: 0.6814
Model training finished

In [ ]:
save_embeddings(pre_training_model,
                'unsupervised_trained_embeddings_bank.dictionary')

# Create classification model using pretrained model

### Data Prep

In [19]:
train_data["y"] = (train_data["y"]=="yes")*1
train_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,weight
0,54,management,married,tertiary,no,2960,yes,no,cellular,13,feb,94,9,85,1,failure,0,1
1,55,blue-collar,married,secondary,no,52,yes,no,unknown,6,may,182,1,-1,0,unknown,0,1
2,45,blue-collar,married,secondary,no,4022,yes,no,cellular,29,jan,244,3,-1,0,unknown,0,1
3,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,0,1
4,29,blue-collar,married,secondary,no,104,yes,no,cellular,18,may,903,4,-1,0,unknown,1,1

In [20]:
test_data["y"] = (test_data["y"]=="yes")*1
test_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,weight
0,39,services,married,secondary,no,25,yes,yes,cellular,12,may,658,1,351,3,failure,1,1
1,29,technician,single,secondary,no,769,yes,yes,cellular,14,may,67,3,-1,0,unknown,0,1
2,42,technician,divorced,secondary,no,0,yes,no,unknown,30,may,115,6,-1,0,unknown,0,1
3,47,housemaid,divorced,secondary,no,1453,no,no,unknown,12,jun,303,1,-1,0,unknown,0,1
4,49,blue-collar,married,unknown,no,154,yes,no,unknown,5,may,357,1,-1,0,unknown,0,1

In [21]:
"""
Now we store the training and test data in separate CSV files.
"""
CSV_HEADER_UN = train_data.columns
train_data_file = "train_data.csv"
train_data.to_csv(train_data_file, index=False, header=True)
test_data_file = "test_data.csv"
test_data.to_csv(test_data_file, index=False, header=True)

In [22]:
# A list of all the input features.
FEATURE_NAMES = CATEGORICAL_FEATURE_NAMES+NUMERIC_FEATURE_NAMES

# The name of the target feature.
TARGET_FEATURE_NAME = "y"
# A list of the labels of the target features.
TARGET_LABELS = train_data[TARGET_FEATURE_NAME].unique()

# A list of column default values for each feature.
COLUMN_DEFAULTS = [
    [0.0] if feature_name in NUMERIC_FEATURE_NAMES+[WEIGHT_COLUMN_NAME] else ["NA"]
    for feature_name in CSV_HEADER_UN
]

In [23]:
def run_experiment(
    model,
    train_data_file,
    test_data_file,
    num_epochs,
    learning_rate,
    weight_decay,
    batch_size,
):

    optimizer = tfa.optimizers.AdamW(
        learning_rate=learning_rate, weight_decay=weight_decay
    )

    model.compile(
        optimizer=optimizer,
        
        # for binary classification
        # change to sparse categorical entropy for multiclass prediction 
        loss=keras.losses.BinaryCrossentropy(),
        weighted_metrics=[keras.metrics.BinaryAccuracy(name="accuracy")],
    )

    train_dataset = get_dataset_from_csv(train_data_file, batch_size, shuffle=True)
    validation_dataset = get_dataset_from_csv(test_data_file, batch_size)

    print("Start training the model...")
    history = model.fit(
        train_dataset, epochs=num_epochs, validation_data=validation_dataset
    )
    print("Model training finished")
    
    _, accuracy = model.evaluate(validation_dataset, verbose=0)

    print(f"Validation accuracy: {round(accuracy * 100, 2)}%")
    return history, model

## Model Training

In [24]:
history, tabtransformer_model = run_experiment(
    model=tabtransformer_model,
    train_data_file=train_data_file,
    test_data_file=test_data_file,
    num_epochs=NUM_EPOCHS*2,
    learning_rate=LEARNING_RATE/3,
    weight_decay=WEIGHT_DECAY*2,
    batch_size=BATCH_SIZE,
)

Start training the model...
Epoch 1/20
4/4 [==============================] - 8s 946ms/step - loss: 1.2384 - accuracy: 0.4646 - val_loss: 0.8656 - val_accuracy: 0.5612
Epoch 2/20
4/4 [==============================] - 2s 634ms/step - loss: 0.9436 - accuracy: 0.5111 - val_loss: 0.7830 - val_accuracy: 0.5883
Epoch 3/20
4/4 [==============================] - 2s 585ms/step - loss: 0.8271 - accuracy: 0.5907 - val_loss: 0.7081 - val_accuracy: 0.6243
Epoch 4/20
4/4 [==============================] - 2s 546ms/step - loss: 0.6874 - accuracy: 0.6527 - val_loss: 0.6363 - val_accuracy: 0.6669
Epoch 5/20
4/4 [==============================] - 2s 559ms/step - loss: 0.6045 - accuracy: 0.6836 - val_loss: 0.5738 - val_accuracy: 0.7109
Epoch 6/20
4/4 [==============================] - 2s 557ms/step - loss: 0.5029 - accuracy: 0.7588 - val_loss: 0.5234 - val_accuracy: 0.7503
Epoch 7/20
4/4 [==============================] - 2s 609ms/step - loss: 0.4771 - accuracy: 0.7765 - val_loss: 0.4850 - val_accuracy: 0.7857
Epoch 8/20
4/4 [==============================] - 2s 566ms/step - loss: 0.4535 - accuracy: 0.8031 - val_loss: 0.4530 - val_accuracy: 0.8157
Epoch 9/20
4/4 [==============================] - 2s 529ms/step - loss: 0.4024 - accuracy: 0.8119 - val_loss: 0.4276 - val_accuracy: 0.8381
Epoch 10/20
4/4 [==============================] - 2s 547ms/step - loss: 0.3766 - accuracy: 0.8562 - val_loss: 0.4089 - val_accuracy: 0.8514
Epoch 11/20
4/4 [==============================] - 2s 598ms/step - loss: 0.3927 - accuracy: 0.8606 - val_loss: 0.3954 - val_accuracy: 0.8595
Epoch 12/20
4/4 [==============================] - 2s 578ms/step - loss: 0.3887 - accuracy: 0.8496 - val_loss: 0.3843 - val_accuracy: 0.8666
Epoch 13/20
4/4 [==============================] - 2s 558ms/step - loss: 0.3735 - accuracy: 0.8562 - val_loss: 0.3755 - val_accuracy: 0.8706
Epoch 14/20
4/4 [==============================] - 2s 554ms/step - loss: 0.3367 - accuracy: 0.8827 - val_loss: 0.3682 - val_accuracy: 0.8737
Epoch 15/20
4/4 [==============================] - 2s 598ms/step - loss: 0.3295 - accuracy: 0.8695 - val_loss: 0.3615 - val_accuracy: 0.8761
Epoch 16/20
4/4 [==============================] - 2s 692ms/step - loss: 0.3076 - accuracy: 0.8805 - val_loss: 0.3549 - val_accuracy: 0.8779
Epoch 17/20
4/4 [==============================] - 2s 683ms/step - loss: 0.3460 - accuracy: 0.8783 - val_loss: 0.3477 - val_accuracy: 0.8797
Epoch 18/20
4/4 [==============================] - 2s 565ms/step - loss: 0.3218 - accuracy: 0.8739 - val_loss: 0.3407 - val_accuracy: 0.8813
Epoch 19/20
4/4 [==============================] - 2s 629ms/step - loss: 0.3138 - accuracy: 0.8827 - val_loss: 0.3351 - val_accuracy: 0.8829
Epoch 20/20
4/4 [==============================] - 2s 725ms/step - loss: 0.3142 - accuracy: 0.8805 - val_loss: 0.3301 - val_accuracy: 0.8842
Model training finished
Validation accuracy: 88.42%

In [25]:
save_embeddings(tabtransformer_model,
                'semi_supervised_trained_embeddings_bank.dictionary')